<nav
  class="navbar sticky-top navbar-expand-lg bg-white border-bottom on-top d-flex flex-column py-0"
>
  <!-- Navbar Top-->
  <div
    class="container-fluid d-flex justify-content-between border-bottom py-3"
  >
    <!-- Logo -->
    <a class="navbar-brand mx-0" style="color: yellow" href="/">
      <img
        src="https://res.cloudinary.com/dbkdxsoia/image/upload/v1662219472/YelpCamp/add-svgrepo-com_ifbpuk.svg"
        alt=""
        width="42"
        height="42"
      />
    </a>
    <!-- Hamburger for smaller screen sizes -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- All / Add-->
      <ul class="navbar-nav">
        <!-- All Campgrounds -->
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds">All Camps</a>
        </li>
        <!-- Add Campground Link-->
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">Add Camp</a>
        </li>
      </ul>
      <!-- Login / Register -->
      <ul class="navbar-nav ms-auto">
        <% if(!currentUser) { %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link register-btn" href="/register">Register</a>
        <% }else { %>
        <a class="nav-link" href="/logout"
          >Logout
          <svg
            style="vertical-align: -0.125em"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person-circle me-1"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </a>
        <% } %>
      </ul>
      <!-- Search Bar -->
      <div class="search-box mx-auto shadow-sm">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
        <form action="/campgrounds" method="GET" class="d-flex flex-grow-1">
          <input
            type="search"
            name="search"
            placeholder="type here..."
            id="searchBar"
            class="search-input form-control d-flex flex-grow-1"
            data-search
            autocomplete="off"
          />

          <input
            type="submit"
            value=""
            class="btn btn-sm round-search-btn search-small"
          />
          <input
            type="submit"
            value="Search"
            class="btn btn-sm round-search-btn search-large"
          />
        </form>
      </div>
    </div>
  </div>
  <!-- Navbar Bot-->
  <div
    style="max-width: 1320px; height: 80px; background-color: white"
    id="secondNav"
    class="container-fluid"
  >
    <div
      class="container-fluid d-flex justify-content-between align-items-center px-0"
    >
      <!--Filter Button -->
      <div class="btnTagActive">
        <button
          class="justify-content-center align-items-center btn dropdown-toggle border-0"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <p class="d-inline me-1">Filter</p>
          <svg
            style="vertical-align: -0.15em"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-filter-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li class="dropdown-item px-0">
            <form class="sortForm" action="/campgrounds" method="GET">
              <input
                type="text"
                name="sortby"
                value="higestRated"
                class="d-none"
              />
              <button type="submit" class="dropdown-item">
                <svg
                  style="vertical-align: -0.125em"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trophy"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"
                  />
                </svg>
                <p class="d-inline px-1">Highest Rated</p>
              </button>
            </form>
          </li>
          <li class="dropdown-item px-0">
            <form class="sortForm" action="/campgrounds" method="GET">
              <input
                type="text"
                name="sortby"
                value="lowestPrice"
                class="d-none"
              />
              <button type="submit" class="dropdown-item">
                <svg
                  style="vertical-align: -0.125em"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-sort-down-alt"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z"
                  />
                </svg>
                <p class="d-inline px-1">Lowest Price</p>
              </button>
            </form>
          </li>
          <li class="dropdown-item px-0">
            <form class="sortForm" action="/campgrounds" method="GET">
              <input
                type="text"
                name="sortby"
                value="highestPrice"
                class="d-none"
              />
              <button type="submit" class="dropdown-item">
                <svg
                  style="vertical-align: -0.125em"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-sort-down"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"
                  />
                </svg>
                <p class="d-inline px-1">Highest Price</p>
              </button>
            </form>
          </li>
          <li class="dropdown-item px-0"></li>
        </ul>
      </div>
      <!-- Tag / Icons -->
      <div
        class="container d-flex justify-content-between align-items-center overflow-scroll"
        id="containerTagBtn"
      >
        <div class="container d-flex justify-content-center align-items-end">
          <!-- Dune -->
          <form class="sortForm px-3" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="dune" class="d-none" />
            <button
              style="color: gray"
              id="dune"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                viewBox="0 0 463 463"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                enable-background="new 0 0 463 463"
              >
                <g>
                  <path
                    d="m455.5,384h-8c-7.744,0-29.473-16.694-48.5-31.699v-29.051l19.4-14.55c7.89-5.917 12.6-15.337 12.6-25.2v-4c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v4c0,5.166-2.467,10.101-6.6,13.2l-10.4,7.8v-49c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v84.964c-16.115-12.65-32.881-25.382-49-35.136v-62.078l19.4-14.55c7.89-5.918 12.6-15.338 12.6-25.2v-12c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v12c0,5.166-2.467,10.101-6.6,13.2l-10.4,7.8v-49c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v81l-10.4-7.8c-4.133-3.1-6.6-8.034-6.6-13.2v-44c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v44c0,9.862 4.71,19.282 12.6,25.2l19.4,14.55v21.854c-11.596-5.634-22.61-9.097-32.5-9.097-12.901,0-28.817,5.438-48.625,16.6-22.808-18.516-45.241-32.6-63.875-32.6-20.844,0-46.441,17.614-72,39.353v-71.86c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v49l-10.4-7.8c-4.133-3.1-6.6-8.034-6.6-13.2v-4c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v4c0,9.862 4.71,19.282 12.6,25.2l19.4,14.55v17.276c-6.682,6.018-13.297,12.137-19.756,18.113-12.367,11.445-24.049,22.255-33.786,30.021-13.189,10.522-17.846,11.34-18.958,11.34h-8c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h448c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5zm-71.5-24.433v24.433h-49v-60.919c16.42,10.771 33.579,24.294 49,36.486zm-96.5-56.561c9.168,0 20.385,4.288 32.5,10.965v62.125c-1.365-1.012-2.847-2.15-4.458-3.435-9.737-7.767-21.419-18.577-33.786-30.021-9.925-9.184-20.218-18.706-30.559-27.675 14.977-7.932 27.176-11.959 36.303-11.959zm-112.5-16c24.55,0 64.481,36.952 96.567,66.643 13.621,12.604 24.788,22.824 34.155,30.351h-202.722v-52.751c26.101-23.13 53.444-44.243 72-44.243zm-96.567,66.643c3.121-2.888 6.319-5.847 9.567-8.832v39.183h-43.722c9.366-7.527 20.534-17.746 34.155-30.351zm320.567,30.351v-12.652c6.201,4.812 11.795,9.039 16.877,12.652h-16.877z"
                  />
                  <path
                    d="m152,135.5c0,21.78 17.72,39.5 39.5,39.5s39.5-17.72 39.5-39.5-17.72-39.5-39.5-39.5-39.5,17.72-39.5,39.5zm64,0c0,13.509-10.99,24.5-24.5,24.5s-24.5-10.991-24.5-24.5 10.99-24.5 24.5-24.5 24.5,10.991 24.5,24.5z"
                  />
                  <path
                    d="m191.5,207c32.621,0 61.092-22.034 69.234-53.583 1.035-4.011-1.377-8.102-5.388-9.137-4.01-1.034-8.101,1.378-9.136,5.388-6.433,24.924-28.931,42.332-54.71,42.332-25.798,0-48.3-17.423-54.72-42.369-1.033-4.011-5.118-6.429-9.133-5.394-4.012,1.032-6.427,5.121-5.395,9.133 8.129,31.576 36.603,53.63 69.248,53.63z"
                  />
                  <path
                    d="m127.65,126.744c4.009,1.032 8.1-1.381 9.134-5.391 6.426-24.937 28.926-42.353 54.716-42.353 25.798,0 48.3,17.423 54.72,42.369 0.871,3.384 3.918,5.632 7.259,5.632 0.618,0 1.247-0.077 1.874-0.239 4.012-1.032 6.427-5.121 5.395-9.133-8.129-31.575-36.603-53.629-69.248-53.629-32.635,0-61.107,22.045-69.241,53.61-1.033,4.011 1.38,8.1 5.391,9.134z"
                  />
                </g>
              </svg>
              <p class="fs-6 fw-light mb-0 activeLink">
                <small>Dune</small>
              </p>
            </button>
          </form>
          <!-- Sea -->
          <form class="sortForm px-3" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="sea" class="d-none" />
            <button
              style="color: gray"
              id="sea"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                viewBox="0 0 463.001 463.001"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                enable-background="new 0 0 463.001 463.001"
              >
                <g>
                  <path
                    d="m455.5,292.001h-73.838l24.09-36.357c0.519-0.782 0.885-1.654 1.082-2.571l13.714-63.999c0.867-4.05-1.712-8.037-5.763-8.905-4.04-0.867-8.036,1.711-8.905,5.762l-13.416,62.61-28.795,43.459h-165.339l45.69-34.516c0.922-0.696 1.671-1.597 2.188-2.63l46.524-93.049 41.418-11.834-13.749,82.492-22.901,30.538c-2.485,3.313-1.813,8.015 1.5,10.5 1.35,1.012 2.929,1.5 4.494,1.5 2.28,0 4.532-1.036 6.006-3l24-32c0.721-0.961 1.2-2.082 1.398-3.267l15.528-93.169 36.062-28.849 69.84-7.76c4.117-0.458 7.083-4.166 6.626-8.282s-4.16-7.083-8.282-6.626l-72,8c-1.411,0.157-2.748,0.711-3.857,1.598l-38.823,31.059-54.552,15.586c-2.021,0.578-3.707,1.977-4.647,3.857l-17.943,35.886c-0.032,0.003-0.063,0.001-0.095,0.005l-80,8c-2.561,0.256-4.812,1.807-5.962,4.109l-14.683,29.365-61.243,22.966c-1.594,0.598-2.937,1.72-3.808,3.182l-21.667,36.341h-67.892c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h448c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.501-7.5-7.501zm-267.141-81.449l66.557-6.656-21.34,42.679-60.132,45.425h-35.838l19.197-19.197c0.569-0.57 1.044-1.228 1.404-1.949l30.152-60.302zm-79.763,55.048l43.655-16.37-6.915,13.829-28.943,28.942h-23.539l15.742-26.401z"
                  />
                  <path
                    d="m311.5,324.001h-144c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h144c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m135.5,324.001h-64c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h64c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m359.5,324.001h-16c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h16c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m295.5,356.001h-79.998c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h79.998c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m183.501,356.001h-16.001c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h16.001c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m416.166,137.929l-3.429,16.002c-0.867,4.05 1.713,8.037 5.763,8.905 0.529,0.114 1.058,0.168 1.579,0.168 3.46,0 6.571-2.41 7.326-5.93l3.429-16.002c0.867-4.05-1.713-8.037-5.763-8.905-4.037-0.867-8.036,1.711-8.905,5.762z"
                  />
                </g>
              </svg>
              <p class="fs-6 fw-light mb-0 activeLink"><small>Sea</small></p>
            </button>
          </form>
          <!-- Forest -->
          <form class="sortForm px-3" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="forest" class="d-none" />
            <button
              style="color: gray"
              id="forest"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                viewBox="0 0 463 463"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                enable-background="new 0 0 463 463"
              >
                <path
                  d="M455.5,412H367v-25h56.5c2.428,0,4.706-1.175,6.113-3.154c1.407-1.979,1.769-4.517,0.971-6.81l-64-184  c-1.048-3.015-3.891-5.036-7.083-5.036s-6.035,2.021-7.083,5.036l-5.856,16.835l-27.814-104.304  c-0.875-3.283-3.849-5.567-7.247-5.567s-6.371,2.284-7.247,5.567L290.3,157.891l-27.502-116.12C261.997,38.389,258.976,36,255.5,36  s-6.497,2.389-7.298,5.771l-31.097,131.3L206.7,137.4c-0.934-3.2-3.867-5.4-7.2-5.4s-6.267,2.2-7.2,5.4l-42.626,146.145  l-38.927-145.978c-0.875-3.283-3.849-5.567-7.247-5.567s-6.371,2.284-7.247,5.567l-64,240c-0.601,2.251-0.121,4.654,1.299,6.502  C34.972,385.917,37.17,387,39.5,387H96v25H7.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h448c4.142,0,7.5-3.358,7.5-7.5  S459.642,412,455.5,412z M352,412h-33v-25h33V412z M248,355v57h-41v-57H248z M263,355h33.081l-7.665,22.036  c-0.798,2.293-0.436,4.831,0.971,6.81S293.072,387,295.5,387h8.5v25h-41V355z M359.5,218.33L412.951,372H367v-13.394l13.803-13.803  c2.929-2.929,2.929-7.678,0-10.606c-2.929-2.929-7.678-2.929-10.606,0L367,337.394V323.5c0-4.142-3.358-7.5-7.5-7.5  s-7.5,3.358-7.5,7.5v31.998c0,0.001,0,0.003,0,0.005V372h-45.951l5.913-17H327.5c2.293,0,4.46-1.049,5.883-2.848  c1.422-1.799,1.944-4.149,1.416-6.381l-7.95-33.567L359.5,218.33z M311.5,136.608l26.274,98.526l-17.359,49.907l-22.812-96.319  L311.5,136.608z M255.5,76.043L318.016,340H263v-16.498c0-0.001,0-0.003,0-0.005v-20.891l21.803-21.803  c2.929-2.929,2.929-7.678,0-10.606c-2.929-2.929-7.678-2.929-10.606,0L263,281.394V251.5c0-4.142-3.358-7.5-7.5-7.5  s-7.5,3.358-7.5,7.5v47.998c0,0.001,0,0.003,0,0.005v5.891l-19.197-19.197c-2.929-2.929-7.678-2.929-10.606,0  c-2.929,2.929-2.929,7.678,0,10.606L248,326.606V340h-55.016L255.5,76.043z M199.5,166.286l10.565,36.225  c0.011,0.039,0.028,0.075,0.04,0.114L181.358,324h-20.896l-3.325-12.469L199.5,166.286z M49.262,372L103.5,168.608L157.738,372H111  v-16.498c0-0.001,0-0.003,0-0.005V315.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v21.894l-11.197-11.197  c-2.929-2.929-7.678-2.929-10.606,0c-2.929,2.929-2.929,7.678,0,10.606L96,358.606V372H49.262z M111,387h56.5  c2.33,0,4.528-1.083,5.947-2.931c1.42-1.848,1.9-4.25,1.299-6.502L164.462,339h13.343l-1.604,6.771  c-0.528,2.231-0.007,4.582,1.416,6.381c1.422,1.798,3.59,2.848,5.883,2.848h8.5v57h-81V387z"
                />
              </svg>
              <p class="fs-6 fw-light mb-0 activeLink"><small>Forest</small></p>
            </button>
          </form>
          <!-- Jungle -->
          <form class="sortForm px-3" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="jungle" class="d-none" />
            <button
              style="color: gray"
              id="jungle"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                viewBox="0 0 463 463"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                enable-background="new 0 0 463 463"
              >
                <g>
                  <path
                    d="m455.5,344.001h-24c-9.253,0-30.236-8.188-54.533-17.668-10.477-4.088-21.934-8.557-33.967-12.955v-123.611c9.29-3.138 16-11.93 16-22.266v-5.449c12.534,4.178 24.725,14.078 25.001,37.537 0.048,4.112 3.396,7.412 7.497,7.412 0.03,0 0.061,0 0.09,0 4.143-0.049 7.46-3.446 7.411-7.588-0.33-28.087-14.34-46.247-39.999-52.737v-1.003c9.335-3.739 19.634-5.362 30.024-4.55 17.777,1.388 33.64,9.598 44.663,23.118 1.482,1.818 3.641,2.761 5.817,2.76 1.666,0 3.343-0.552 4.734-1.688 3.211-2.618 3.691-7.342 1.073-10.552-13.64-16.728-33.216-26.882-55.12-28.593-14.706-1.146-29.278,1.699-42.083,7.949 3.525-6.236 8.681-12.107 14.919-16.619 8.3-6.002 25.85-14.877 50.123-6.875 3.937,1.297 8.175-0.841 9.472-4.775s-0.841-8.174-4.774-9.471c-22.687-7.479-45.276-4.293-63.611,8.967-0.762,0.551-1.506,1.121-2.242,1.701 6.054-10.502 14.807-17.857 25.18-20.235 4.037-0.925 6.56-4.948 5.635-8.986s-4.942-6.559-8.986-5.635c-16.784,3.846-30.415,16.651-38.324,34.396-7.909-17.745-21.54-30.55-38.324-34.396-4.043-0.928-8.062,1.598-8.986,5.635s1.598,8.061 5.635,8.986c10.373,2.377 19.126,9.733 25.18,20.235-0.735-0.58-1.48-1.151-2.242-1.701-18.335-13.261-40.925-16.445-63.611-8.967-3.934,1.297-6.071,5.538-4.774,9.471 1.298,3.934 5.535,6.072 9.472,4.775 24.271-8.002 41.823,0.871 50.123,6.875 6.237,4.511 11.393,10.382 14.918,16.617-12.806-6.251-27.378-9.097-42.082-7.947-21.904,1.71-41.48,11.865-55.12,28.593-2.618,3.21-2.138,7.935 1.073,10.552 1.392,1.135 3.068,1.688 4.734,1.688 2.177,0 4.335-0.942 5.817-2.76 11.023-13.52 26.886-21.73 44.663-23.118 10.392-0.812 20.69,0.811 30.024,4.55v1.003c-25.659,6.489-39.669,24.65-39.999,52.737-0.049,4.142 3.269,7.539 7.411,7.588 0.029,0 0.06,0 0.09,0 4.101,0 7.449-3.3 7.497-7.412 0.094-8.028 0.347-29.17 25.001-37.319v5.23c0,10.336 6.71,19.128 16,22.266v118.295c-31.7-10.866-66.079-20.061-96.5-20.061s-64.8,9.195-96.5,20.061v-150.294c9.29-3.138 16-11.93 16-22.266v-5.449c12.534,4.178 24.725,14.078 25.001,37.537 0.048,4.112 3.396,7.412 7.497,7.412 0.03,0 0.061,0 0.09,0 4.143-0.049 7.46-3.446 7.411-7.588-0.33-28.087-14.34-46.247-39.999-52.737v-1.003c9.335-3.739 19.633-5.362 30.024-4.55 17.777,1.388 33.64,9.598 44.663,23.118 1.482,1.818 3.641,2.761 5.817,2.76 1.666,0 3.343-0.552 4.734-1.688 3.211-2.618 3.691-7.342 1.073-10.552-13.64-16.728-33.216-26.882-55.12-28.593-14.706-1.146-29.278,1.699-42.083,7.949 3.525-6.236 8.681-12.107 14.919-16.619 8.3-6.002 25.85-14.877 50.123-6.875 3.937,1.296 8.175-0.841 9.472-4.775 1.297-3.934-0.841-8.174-4.774-9.471-22.687-7.479-45.277-4.293-63.611,8.967-0.762,0.551-1.506,1.121-2.242,1.701 6.054-10.502 14.807-17.857 25.18-20.235 4.037-0.925 6.56-4.948 5.635-8.986s-4.942-6.558-8.986-5.635c-16.784,3.846-30.415,16.651-38.324,34.396-7.909-17.745-21.54-30.55-38.324-34.396-4.045-0.926-8.062,1.598-8.986,5.635-0.925,4.038 1.598,8.061 5.635,8.986 11.883,2.723 21.647,11.972 27.653,25.011-1.604-1.369-3.278-2.694-5.028-3.959-21.118-15.274-47.104-19.46-71.298-11.485-3.934,1.297-6.071,5.538-4.774,9.471 1.297,3.935 5.534,6.071 9.472,4.775 19.567-6.451 40.638-3.027 57.81,9.393 5.407,3.911 9.977,8.476 13.407,13.229-12.357-5.646-26.248-8.173-40.258-7.077-21.904,1.71-41.48,11.865-55.12,28.593-2.618,3.21-2.138,7.935 1.073,10.552 1.392,1.135 3.068,1.688 4.734,1.688 2.177,0 4.335-0.942 5.817-2.76 11.023-13.52 26.886-21.73 44.663-23.118 10.392-0.811 20.69,0.811 30.024,4.55v1.003c-25.659,6.489-39.669,24.65-39.999,52.737-0.049,4.142 3.269,7.539 7.411,7.588 0.029,0 0.06,0 0.09,0 4.101,0 7.449-3.3 7.497-7.412 0.094-8.028 0.347-29.17 25.001-37.319v5.23c0,10.336 6.71,19.128 16,22.266v155.611c-12.032,4.398-23.49,8.867-33.967,12.955-24.297,9.48-45.28,17.668-54.533,17.668h-24c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h448c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.499-7.5-7.499zm-128.5-184.65c2.653-0.229 5.482-0.35 8.5-0.35 2.154,0 5.108,0.001 8.5,0.243v8.257c0,4.687-3.813,8.5-8.5,8.5s-8.5-3.813-8.5-8.5v-8.15zm-208-32c2.653-0.229 5.482-0.35 8.5-0.35 2.154,0 5.108,0.001 8.5,0.243v8.257c0,4.687-3.813,8.5-8.5,8.5s-8.5-3.813-8.5-8.5v-8.15zm-37.004,216.65c3.059-1.186 6.216-2.417 9.489-3.694 40.349-15.744 95.609-37.306 140.015-37.306s99.666,21.562 140.015,37.306c3.273,1.277 6.43,2.508 9.489,3.694h-299.008z"
                  />
                  <path
                    d="m311.5,376.001h-144c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h144c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m135.5,376.001h-64c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h64c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m359.5,376.001h-16c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h16c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m295.5,408.001h-79.998c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h79.998c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m183.501,408.001h-16.001c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h16.001c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                </g>
              </svg>
              <p class="fs-6 fw-light mb-0 activeLink">
                <small>Jungle</small>
              </p>
            </button>
          </form>
          <!-- Mountain -->
          <form class="sortForm px-3" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="mountain" class="d-none" />
            <button
              style="color: gray"
              id="mountain"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 512.005 512.005"
                style="enable-background: new 0 0 512.005 512.005"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <g>
                      <path
                        d="M4.475,425.637c1.289,0.7,2.679,1.033,4.053,1.033c3.029,0,5.965-1.613,7.509-4.471l111.155-205.235
				c0.239-0.495,5.973-12.16,17.877-12.16c1.69,0,3.593,0.853,5.47,2.005L77.879,337.18c-2.295,4.122-0.811,9.318,3.302,11.614
				c1.314,0.725,2.739,1.075,4.147,1.075c2.995,0,5.897-1.579,7.467-4.378l71.552-128.401l26.803,20.139
				c3.396,2.56,8.149,2.21,11.153-0.794l45.167-45.167l28.1,28.1c3.337,3.337,8.73,3.337,12.066,0l25.6-25.6
				c3.337-3.337,3.337-8.73,0-12.066s-8.73-3.337-12.066,0l-19.567,19.567l-28.1-28.1c-3.337-3.337-8.73-3.337-12.066,0
				l-45.969,45.969l-28.058-21.043l-0.99-0.785c-4.489-3.584-12.006-9.574-21.35-9.574c-22.929,0-32.93,21.129-33.101,21.538
				L1.036,414.074C-1.217,418.213,0.328,423.392,4.475,425.637z"
                      />
                      <path
                        d="M110.937,443.736H8.537c-4.71,0-8.533,3.823-8.533,8.533s3.823,8.533,8.533,8.533h102.4c4.71,0,8.533-3.823,8.533-8.533
				S115.647,443.736,110.937,443.736z"
                      />
                      <path
                        d="M173.281,182.582c4.147,2.244,9.318,0.691,11.563-3.456l53.282-98.697c0.239-0.495,5.973-12.16,17.877-12.16
				s17.638,11.665,18.108,12.621L418.41,345.449c1.553,2.842,4.48,4.446,7.501,4.446c1.382,0,2.782-0.333,4.079-1.041
				c4.139-2.261,5.666-7.441,3.405-11.58l-38.955-71.407c2.099-0.87,4.318-1.331,6.63-1.331c11.904,0,17.638,11.665,18.057,12.518
				l76.8,145.075c1.536,2.893,4.489,4.54,7.552,4.54c1.348,0,2.714-0.316,3.985-0.99c4.164-2.21,5.751-7.373,3.55-11.537
				l-76.595-144.649c-0.418-0.896-10.419-22.025-33.348-22.025c-5.197,0-10.146,1.271-14.771,3.473L289.352,73.227
				c-0.418-0.896-10.419-22.025-33.348-22.025c-22.938,0-32.93,21.129-33.109,21.547l-53.069,98.27
				C167.59,175.158,169.134,180.337,173.281,182.582z"
                      />
                      <path
                        d="M452.27,443.736h-93.867v-17.067h17.067h0.171c4.71,0,8.533-3.823,8.533-8.533c0-1.647-0.469-3.183-1.271-4.48
				l-25.037-66.782c-1.254-3.328-4.437-5.538-7.996-5.538s-6.741,2.21-7.996,5.538l-25.6,68.267
				c-0.973,2.62-0.614,5.555,0.981,7.859c1.596,2.295,4.215,3.669,7.014,3.669h17.067v17.067h-34.133v-25.6
				c0-4.71-3.823-8.533-8.533-8.533h-13.286l13.431-35.823l1.86,4.779c1.715,4.395,6.656,6.562,11.042,4.864
				c4.395-1.707,6.571-6.656,4.864-11.042l-9.958-25.6c-1.28-3.285-4.437-5.444-7.953-5.444h-0.051
				c-3.541,0.017-6.699,2.227-7.945,5.538l-25.6,68.267c-0.973,2.62-0.614,5.555,0.981,7.859c1.596,2.295,4.215,3.669,7.014,3.669
				h17.067v17.067H153.603v-17.067h17.067h0.171c4.71,0,8.533-3.823,8.533-8.533c0-1.647-0.469-3.183-1.271-4.48l-25.037-66.782
				c-1.254-3.328-4.437-5.538-7.996-5.538c-3.558,0-6.741,2.21-7.996,5.538l-25.591,68.267c-0.981,2.62-0.623,5.555,0.973,7.859
				c1.596,2.295,4.215,3.669,7.014,3.669h17.067v25.6c0,4.71,3.823,8.533,8.533,8.533h307.2c4.71,0,8.533-3.823,8.533-8.533
				S456.981,443.736,452.27,443.736z M131.784,409.603l13.286-35.43l13.286,35.43H131.784z M336.584,409.603l13.286-35.43
				l13.286,35.43H336.584z"
                      />
                      <path
                        d="M503.47,443.736h-17.067c-4.71,0-8.533,3.823-8.533,8.533s3.823,8.533,8.533,8.533h17.067
				c4.71,0,8.533-3.823,8.533-8.533S508.181,443.736,503.47,443.736z"
                      />
                    </g>
                  </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
              <p class="fs-6 fw-light mb-0 activeLink">
                <small>Mountain</small>
              </p>
            </button>
          </form>
          <!-- Arctic -->
          <form class="sortForm px-3" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="arctic" class="d-none" />
            <button
              id="arctic"
              style="color: gray"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 512 512"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <path
                      d="M480.446,338.292c-1.846-4.329-6.854-6.346-11.196-4.496l-35.313,15.082l-48.038-27.737l62.776-26.817
			c4.338-1.85,6.35-6.862,4.496-11.196c-1.85-4.333-6.859-6.35-11.196-4.496l-74.549,31.844l-33.469-19.324l62.018-27.345
			c3.096-1.363,5.092-4.425,5.092-7.808c0-3.383-1.996-6.446-5.092-7.808l-62.018-27.345l33.469-19.324l74.549,31.844
			c1.092,0.467,2.229,0.692,3.346,0.692c3.312,0,6.467-1.946,7.85-5.188c1.854-4.333-0.159-9.346-4.496-11.196l-62.776-26.817
			l48.038-27.735l35.313,15.081c1.092,0.467,2.229,0.692,3.346,0.692c3.317,0,6.467-1.946,7.85-5.188
			c1.854-4.333-0.158-9.346-4.496-11.196l-23.54-10.055l22.169-12.799c4.083-2.358,5.479-7.575,3.125-11.658
			c-2.363-4.083-7.588-5.487-11.659-3.125l-22.17,12.8l3.062-25.412c0.567-4.679-2.771-8.929-7.45-9.492
			c-4.671-0.571-8.929,2.766-9.492,7.45l-4.594,38.12l-48.039,27.735l8.166-67.776c0.567-4.679-2.771-8.929-7.45-9.492
			c-4.692-0.588-8.929,2.766-9.492,7.45l-9.698,80.483l-33.467,19.322l7.327-67.384c0.367-3.358-1.287-6.621-4.217-8.313
			c-2.933-1.683-6.076-1.496-8.813,0.504l-54.197,40.041v-30.112l64.359-48.641c3.771-2.825,4.285-8.175,1.456-11.946
			c-2.817-3.763-7.791-4.538-11.574-1.704l-54.242,40.958V55.466l30.226-23.041c3.771-2.825,4.285-8.175,1.456-11.946
			c-2.817-3.763-7.786-4.538-11.574-1.704l-20.108,15.358v-25.6c0-4.712-3.821-8.533-8.533-8.533s-8.533,3.821-8.533,8.533v25.6
			l-20.974-15.358c-3.771-2.833-9.365-2.058-12.194,1.704c-2.829,3.771-1.695,9.121,2.076,11.946l31.092,23.041v64.001
			l-55.107-40.958c-3.779-2.833-9.369-2.058-12.194,1.704c-2.829,3.771-1.695,9.121,2.076,11.946l65.225,48.641v30.112
			l-55.187-40.041c-2.729-1.996-6.623-2.187-9.556-0.504c-2.929,1.692-4.706,4.954-4.341,8.313l7.266,67.384l-26.11-15.056
			l-9.708-80.482c-0.564-4.683-4.812-7.996-9.5-7.45c-4.679,0.562-8.021,4.812-7.453,9.492l8.159,67.775l-55.428-32.001
			l-4.594-38.12c-0.558-4.679-4.829-7.971-9.492-7.45c-4.679,0.562-8.017,4.812-7.45,9.492l3.061,25.412l-22.17-12.8
			c-4.096-2.362-9.3-0.958-11.658,3.125c-2.354,4.083-0.958,9.3,3.125,11.658l22.169,12.799L36.05,162.513
			c-4.337,1.85-6.35,6.863-4.496,11.196c1.383,3.242,4.533,5.188,7.85,5.188c1.117,0,2.254-0.225,3.346-0.692l35.311-15.081
			l55.428,32.001l-62.777,26.818c-4.333,1.85-6.346,6.862-4.492,11.2c1.383,3.238,4.533,5.183,7.85,5.183
			c1.117,0,2.254-0.225,3.35-0.692l74.544-31.843l26.078,15.056l-62.018,27.345c-3.096,1.363-5.092,4.425-5.092,7.808
			c0,3.383,1.996,6.446,5.092,7.808l62.018,27.345l-26.078,15.056l-74.544-31.843c-4.354-1.854-9.354,0.158-11.2,4.492
			c-1.854,4.338,0.159,9.35,4.492,11.2l62.777,26.818l-55.428,32.002L42.75,333.796c-4.337-1.85-9.346,0.167-11.196,4.496
			c-1.854,4.333,0.159,9.346,4.496,11.196l23.539,10.055l-22.169,12.799c-4.083,2.358-5.479,7.575-3.125,11.658
			c1.583,2.738,4.45,4.267,7.4,4.267c1.446,0,2.917-0.366,4.258-1.142l22.17-12.8l-3.061,25.412
			c-0.567,4.679,2.771,8.929,7.45,9.492c0.346,0.042,0.692,0.063,1.033,0.063c4.254,0,7.938-3.179,8.458-7.513l4.594-38.12
			l55.426-32.001l-8.161,67.775c-0.567,4.679,2.771,8.929,7.45,9.492c0.346,0.042,0.692,0.063,1.033,0.063
			c4.254,0,7.938-3.179,8.458-7.512l9.694-80.482l26.079-15.056l-7.327,67.384c-0.367,3.358,1.287,6.621,4.217,8.313
			c2.921,1.679,7.07,1.492,9.803-0.504l55.187-40.041v38.646l-65.349,48.641c-3.771,2.825-4.781,8.175-1.952,11.946
			c2.825,3.771,8.539,4.546,12.318,1.704l54.983-40.958v55.468l-31.216,23.041c-3.771,2.825-4.781,8.175-1.952,11.946
			c2.829,3.763,8.547,4.546,12.318,1.704l20.85-15.358v25.6c0,4.713,3.821,8.533,8.533,8.533s8.533-3.821,8.533-8.533v-25.6
			l19.984,15.358c1.537,1.154,3.085,1.708,4.864,1.708c2.596,0,5.036-1.179,6.71-3.412c2.83-3.771,2.5-9.121-1.271-11.946
			l-30.288-23.041v-55.468l54.118,40.958c1.538,1.154,3.085,1.708,4.864,1.708c2.596,0,5.036-1.179,6.71-3.412
			c2.83-3.771,2.5-9.121-1.271-11.946l-64.421-48.641v-38.646l54.197,40.041c1.496,1.092,3.019,1.646,4.794,1.646
			c1.472,0,2.818-0.379,4.143-1.142c2.93-1.692,4.522-4.954,4.155-8.313l-7.358-67.384l33.452,19.322l9.69,80.483
			c0.521,4.333,4.201,7.512,8.455,7.512c0.342,0,0.685-0.021,1.031-0.063c4.679-0.562,8.016-4.812,7.449-9.492l-8.167-67.776
			l48.039,27.735l4.594,38.12c0.521,4.333,4.204,7.513,8.458,7.513c0.342,0,0.688-0.021,1.033-0.063
			c4.679-0.563,8.017-4.812,7.45-9.492l-3.062-25.412l22.17,12.8c1.346,0.775,2.813,1.141,4.258,1.141c2.95,0,5.817-1.529,7.4-4.267
			c2.354-4.083,0.958-9.3-3.125-11.658l-22.169-12.799l23.54-10.055C480.288,347.638,482.3,342.625,480.446,338.292z M140.617,256
			l55.743-24.578L238.93,256l-42.571,24.578L140.617,256z M248.456,319.936l-49.653,35.99l6.833-60.564l42.82-24.579V319.936z
			 M248.456,241.219l-42.82-24.58l-6.833-60.564l49.653,35.99V241.219z M265.523,192.065l48.663-35.99l-6.339,60.564l-42.325,24.58
			V192.065z M265.523,319.936v-49.153l42.325,24.579l6.339,60.564L265.523,319.936z M315.641,280.578L273.069,256l42.572-24.578
			L371.383,256L315.641,280.578z"
                    />
                  </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>

              <p class="fs-6 fw-light mb-0 activeLink"><small>Arctic</small></p>
            </button>
          </form>
        </div>
      </div>
      <!-- Clear Option -->
      <div class="btnTagActive">
        <a href="/campgrounds" href class="dropdown-item btnTagActive">
          <p class="d-inline mx-1">Clear</p>
          <svg
            style="vertical-align: -0.125em"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x-lg"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>

<script>
  let url = window.location.href;
  let campgrounds = "http://localhost:3000/campgrounds";
  let heroku = "https://calm-lowlands-59490.herokuapp.com/campgrounds";
  //add secondNav to all variation of index page only
  window.addEventListener("load", () => {
    if (
      url == campgrounds ||
      url == heroku ||
      url.indexOf("?sortby") > -1 ||
      url.indexOf("?search") > -1
    ) {
      document.getElementById("secondNav").style.display = "inherit";
    } else {
      document.getElementById("secondNav").style.display = "none";
    }
  });

  // Add highlight to the current button
  let btns = document.querySelectorAll("#containerTagBtn .activeTagBtn");
  window.addEventListener("load", () => {
    btns.forEach((button) => {
      if (url.indexOf("?sortby=" + `${button.id}`) > -1) {
        button.style.color = "black";
      }
    });
  });
</script>
