<nav
  class="navbar sticky-top navbar-expand-lg bg-white border-bottom on-top d-flex flex-column py-0"
>
  <!-- Navbar Top-->
  <div
    class="container-fluid d-flex justify-content-between border-bottom py-3"
  >
    <!-- Logo -->
    <a class="navbar-brand mx-0" style="color: yellow" href="/">
      <img
        src="https://res.cloudinary.com/dbkdxsoia/image/upload/v1662219472/YelpCamp/add-svgrepo-com_ifbpuk.svg"
        alt=""
        width="42"
        height="42"
      />
    </a>
    <!-- Hamburger for smaller screen sizes -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- All / Add-->
      <ul class="navbar-nav">
        <!-- All Campgrounds -->
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds">All Camps</a>
        </li>
        <!-- Add Campground Link-->
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">Add Camp</a>
        </li>
      </ul>
      <!-- Login / Register -->
      <ul class="navbar-nav ms-auto">
        <% if(!currentUser) { %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link register-btn" href="/register">Register</a>
        <% }else { %>
        <a class="nav-link" href="/logout"
          >Logout
          <svg
            style="vertical-align: -0.125em"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person-circle me-1"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </a>
        <% } %>
      </ul>
      <!-- Search Bar -->
      <div class="search-box mx-auto shadow-sm">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
        <form action="/campgrounds" method="GET" class="d-flex flex-grow-1">
          <input
            type="search"
            name="search"
            placeholder="type here..."
            id="searchBar"
            class="search-input form-control d-flex flex-grow-1"
            data-search
            autocomplete="off"
          />

          <input
            type="submit"
            value=""
            class="btn btn-sm round-search-btn search-small"
          />
          <input
            type="submit"
            value="Search"
            class="btn btn-sm round-search-btn search-large"
          />
        </form>
      </div>
    </div>
  </div>
  <!-- Navbar Bot-->
  <div
    style="max-width: 1320px; height: 80px; background-color: white"
    id="secondNav"
    class="container-fluid"
  >
    <div
      class="container-fluid d-flex justify-content-between align-items-center px-0"
    >
      <!--Filter Button -->
      <div class="btnTagActive">
        <button
          class="justify-content-center align-items-center btn dropdown-toggle border-0"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <p class="d-inline me-1">Filter</p>
          <svg
            style="vertical-align: -0.15em"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-filter-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li class="dropdown-item px-0">
            <form class="sortForm" action="/campgrounds" method="GET">
              <input
                type="text"
                name="sortby"
                value="higestRated"
                class="d-none"
              />
              <button type="submit" class="dropdown-item">
                <svg
                  style="vertical-align: -0.125em"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trophy"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"
                  />
                </svg>
                <p class="d-inline px-1">Highest Rated</p>
              </button>
            </form>
          </li>
          <li class="dropdown-item px-0">
            <form class="sortForm" action="/campgrounds" method="GET">
              <input
                type="text"
                name="sortby"
                value="lowestPrice"
                class="d-none"
              />
              <button type="submit" class="dropdown-item">
                <svg
                  style="vertical-align: -0.125em"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-sort-down-alt"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z"
                  />
                </svg>
                <p class="d-inline px-1">Lowest Price</p>
              </button>
            </form>
          </li>
          <li class="dropdown-item px-0">
            <form class="sortForm" action="/campgrounds" method="GET">
              <input
                type="text"
                name="sortby"
                value="highestPrice"
                class="d-none"
              />
              <button type="submit" class="dropdown-item">
                <svg
                  style="vertical-align: -0.125em"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-sort-down"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"
                  />
                </svg>
                <p class="d-inline px-1">Highest Price</p>
              </button>
            </form>
          </li>
          <li class="dropdown-item px-0"></li>
        </ul>
      </div>
      <!-- Tag / Icons -->
      <div
        class="container d-flex justify-content-between align-items-center overflow-scroll"
        id="containerTagBtn"
      >
        <div class="container d-flex justify-content-center align-items-end">
          <!-- Dune -->
          <form class="sortForm px-4" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="dune" class="d-none" />
            <button
              style="color: gray"
              id="dune"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                viewBox="0 0 463 463"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                enable-background="new 0 0 463 463"
              >
                <g>
                  <path
                    d="m455.5,384h-8c-7.744,0-29.473-16.694-48.5-31.699v-29.051l19.4-14.55c7.89-5.917 12.6-15.337 12.6-25.2v-4c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v4c0,5.166-2.467,10.101-6.6,13.2l-10.4,7.8v-49c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v84.964c-16.115-12.65-32.881-25.382-49-35.136v-62.078l19.4-14.55c7.89-5.918 12.6-15.338 12.6-25.2v-12c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v12c0,5.166-2.467,10.101-6.6,13.2l-10.4,7.8v-49c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v81l-10.4-7.8c-4.133-3.1-6.6-8.034-6.6-13.2v-44c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v44c0,9.862 4.71,19.282 12.6,25.2l19.4,14.55v21.854c-11.596-5.634-22.61-9.097-32.5-9.097-12.901,0-28.817,5.438-48.625,16.6-22.808-18.516-45.241-32.6-63.875-32.6-20.844,0-46.441,17.614-72,39.353v-71.86c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v49l-10.4-7.8c-4.133-3.1-6.6-8.034-6.6-13.2v-4c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v4c0,9.862 4.71,19.282 12.6,25.2l19.4,14.55v17.276c-6.682,6.018-13.297,12.137-19.756,18.113-12.367,11.445-24.049,22.255-33.786,30.021-13.189,10.522-17.846,11.34-18.958,11.34h-8c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h448c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5zm-71.5-24.433v24.433h-49v-60.919c16.42,10.771 33.579,24.294 49,36.486zm-96.5-56.561c9.168,0 20.385,4.288 32.5,10.965v62.125c-1.365-1.012-2.847-2.15-4.458-3.435-9.737-7.767-21.419-18.577-33.786-30.021-9.925-9.184-20.218-18.706-30.559-27.675 14.977-7.932 27.176-11.959 36.303-11.959zm-112.5-16c24.55,0 64.481,36.952 96.567,66.643 13.621,12.604 24.788,22.824 34.155,30.351h-202.722v-52.751c26.101-23.13 53.444-44.243 72-44.243zm-96.567,66.643c3.121-2.888 6.319-5.847 9.567-8.832v39.183h-43.722c9.366-7.527 20.534-17.746 34.155-30.351zm320.567,30.351v-12.652c6.201,4.812 11.795,9.039 16.877,12.652h-16.877z"
                  />
                  <path
                    d="m152,135.5c0,21.78 17.72,39.5 39.5,39.5s39.5-17.72 39.5-39.5-17.72-39.5-39.5-39.5-39.5,17.72-39.5,39.5zm64,0c0,13.509-10.99,24.5-24.5,24.5s-24.5-10.991-24.5-24.5 10.99-24.5 24.5-24.5 24.5,10.991 24.5,24.5z"
                  />
                  <path
                    d="m191.5,207c32.621,0 61.092-22.034 69.234-53.583 1.035-4.011-1.377-8.102-5.388-9.137-4.01-1.034-8.101,1.378-9.136,5.388-6.433,24.924-28.931,42.332-54.71,42.332-25.798,0-48.3-17.423-54.72-42.369-1.033-4.011-5.118-6.429-9.133-5.394-4.012,1.032-6.427,5.121-5.395,9.133 8.129,31.576 36.603,53.63 69.248,53.63z"
                  />
                  <path
                    d="m127.65,126.744c4.009,1.032 8.1-1.381 9.134-5.391 6.426-24.937 28.926-42.353 54.716-42.353 25.798,0 48.3,17.423 54.72,42.369 0.871,3.384 3.918,5.632 7.259,5.632 0.618,0 1.247-0.077 1.874-0.239 4.012-1.032 6.427-5.121 5.395-9.133-8.129-31.575-36.603-53.629-69.248-53.629-32.635,0-61.107,22.045-69.241,53.61-1.033,4.011 1.38,8.1 5.391,9.134z"
                  />
                </g>
              </svg>
              <p class="fs-6 fw-light mb-0 activeLink">
                <small>Dune</small>
              </p>
            </button>
          </form>
          <!-- Sea -->
          <form class="sortForm px-4" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="sea" class="d-none" />
            <button
              style="color: gray"
              id="sea"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                viewBox="0 0 463.001 463.001"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                enable-background="new 0 0 463.001 463.001"
              >
                <g>
                  <path
                    d="m455.5,292.001h-73.838l24.09-36.357c0.519-0.782 0.885-1.654 1.082-2.571l13.714-63.999c0.867-4.05-1.712-8.037-5.763-8.905-4.04-0.867-8.036,1.711-8.905,5.762l-13.416,62.61-28.795,43.459h-165.339l45.69-34.516c0.922-0.696 1.671-1.597 2.188-2.63l46.524-93.049 41.418-11.834-13.749,82.492-22.901,30.538c-2.485,3.313-1.813,8.015 1.5,10.5 1.35,1.012 2.929,1.5 4.494,1.5 2.28,0 4.532-1.036 6.006-3l24-32c0.721-0.961 1.2-2.082 1.398-3.267l15.528-93.169 36.062-28.849 69.84-7.76c4.117-0.458 7.083-4.166 6.626-8.282s-4.16-7.083-8.282-6.626l-72,8c-1.411,0.157-2.748,0.711-3.857,1.598l-38.823,31.059-54.552,15.586c-2.021,0.578-3.707,1.977-4.647,3.857l-17.943,35.886c-0.032,0.003-0.063,0.001-0.095,0.005l-80,8c-2.561,0.256-4.812,1.807-5.962,4.109l-14.683,29.365-61.243,22.966c-1.594,0.598-2.937,1.72-3.808,3.182l-21.667,36.341h-67.892c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h448c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.501-7.5-7.501zm-267.141-81.449l66.557-6.656-21.34,42.679-60.132,45.425h-35.838l19.197-19.197c0.569-0.57 1.044-1.228 1.404-1.949l30.152-60.302zm-79.763,55.048l43.655-16.37-6.915,13.829-28.943,28.942h-23.539l15.742-26.401z"
                  />
                  <path
                    d="m311.5,324.001h-144c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h144c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m135.5,324.001h-64c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h64c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m359.5,324.001h-16c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h16c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m295.5,356.001h-79.998c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h79.998c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m183.501,356.001h-16.001c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h16.001c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m416.166,137.929l-3.429,16.002c-0.867,4.05 1.713,8.037 5.763,8.905 0.529,0.114 1.058,0.168 1.579,0.168 3.46,0 6.571-2.41 7.326-5.93l3.429-16.002c0.867-4.05-1.713-8.037-5.763-8.905-4.037-0.867-8.036,1.711-8.905,5.762z"
                  />
                </g>
              </svg>
              <p class="fs-6 fw-light mb-0 activeLink"><small>Sea</small></p>
            </button>
          </form>
          <!-- Forest -->
          <form class="sortForm px-4" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="forest" class="d-none" />
            <button
              style="color: gray"
              id="forest"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                viewBox="0 0 463 463"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                enable-background="new 0 0 463 463"
              >
                <path
                  d="M455.5,412H367v-25h56.5c2.428,0,4.706-1.175,6.113-3.154c1.407-1.979,1.769-4.517,0.971-6.81l-64-184  c-1.048-3.015-3.891-5.036-7.083-5.036s-6.035,2.021-7.083,5.036l-5.856,16.835l-27.814-104.304  c-0.875-3.283-3.849-5.567-7.247-5.567s-6.371,2.284-7.247,5.567L290.3,157.891l-27.502-116.12C261.997,38.389,258.976,36,255.5,36  s-6.497,2.389-7.298,5.771l-31.097,131.3L206.7,137.4c-0.934-3.2-3.867-5.4-7.2-5.4s-6.267,2.2-7.2,5.4l-42.626,146.145  l-38.927-145.978c-0.875-3.283-3.849-5.567-7.247-5.567s-6.371,2.284-7.247,5.567l-64,240c-0.601,2.251-0.121,4.654,1.299,6.502  C34.972,385.917,37.17,387,39.5,387H96v25H7.5c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h448c4.142,0,7.5-3.358,7.5-7.5  S459.642,412,455.5,412z M352,412h-33v-25h33V412z M248,355v57h-41v-57H248z M263,355h33.081l-7.665,22.036  c-0.798,2.293-0.436,4.831,0.971,6.81S293.072,387,295.5,387h8.5v25h-41V355z M359.5,218.33L412.951,372H367v-13.394l13.803-13.803  c2.929-2.929,2.929-7.678,0-10.606c-2.929-2.929-7.678-2.929-10.606,0L367,337.394V323.5c0-4.142-3.358-7.5-7.5-7.5  s-7.5,3.358-7.5,7.5v31.998c0,0.001,0,0.003,0,0.005V372h-45.951l5.913-17H327.5c2.293,0,4.46-1.049,5.883-2.848  c1.422-1.799,1.944-4.149,1.416-6.381l-7.95-33.567L359.5,218.33z M311.5,136.608l26.274,98.526l-17.359,49.907l-22.812-96.319  L311.5,136.608z M255.5,76.043L318.016,340H263v-16.498c0-0.001,0-0.003,0-0.005v-20.891l21.803-21.803  c2.929-2.929,2.929-7.678,0-10.606c-2.929-2.929-7.678-2.929-10.606,0L263,281.394V251.5c0-4.142-3.358-7.5-7.5-7.5  s-7.5,3.358-7.5,7.5v47.998c0,0.001,0,0.003,0,0.005v5.891l-19.197-19.197c-2.929-2.929-7.678-2.929-10.606,0  c-2.929,2.929-2.929,7.678,0,10.606L248,326.606V340h-55.016L255.5,76.043z M199.5,166.286l10.565,36.225  c0.011,0.039,0.028,0.075,0.04,0.114L181.358,324h-20.896l-3.325-12.469L199.5,166.286z M49.262,372L103.5,168.608L157.738,372H111  v-16.498c0-0.001,0-0.003,0-0.005V315.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v21.894l-11.197-11.197  c-2.929-2.929-7.678-2.929-10.606,0c-2.929,2.929-2.929,7.678,0,10.606L96,358.606V372H49.262z M111,387h56.5  c2.33,0,4.528-1.083,5.947-2.931c1.42-1.848,1.9-4.25,1.299-6.502L164.462,339h13.343l-1.604,6.771  c-0.528,2.231-0.007,4.582,1.416,6.381c1.422,1.798,3.59,2.848,5.883,2.848h8.5v57h-81V387z"
                />
              </svg>
              <p class="fs-6 fw-light mb-0 activeLink"><small>Forest</small></p>
            </button>
          </form>
          <!-- Jungle -->
          <form class="sortForm px-4" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="jungle" class="d-none" />
            <button
              style="color: gray"
              id="jungle"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                viewBox="0 0 463 463"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                enable-background="new 0 0 463 463"
              >
                <g>
                  <path
                    d="m455.5,344.001h-24c-9.253,0-30.236-8.188-54.533-17.668-10.477-4.088-21.934-8.557-33.967-12.955v-123.611c9.29-3.138 16-11.93 16-22.266v-5.449c12.534,4.178 24.725,14.078 25.001,37.537 0.048,4.112 3.396,7.412 7.497,7.412 0.03,0 0.061,0 0.09,0 4.143-0.049 7.46-3.446 7.411-7.588-0.33-28.087-14.34-46.247-39.999-52.737v-1.003c9.335-3.739 19.634-5.362 30.024-4.55 17.777,1.388 33.64,9.598 44.663,23.118 1.482,1.818 3.641,2.761 5.817,2.76 1.666,0 3.343-0.552 4.734-1.688 3.211-2.618 3.691-7.342 1.073-10.552-13.64-16.728-33.216-26.882-55.12-28.593-14.706-1.146-29.278,1.699-42.083,7.949 3.525-6.236 8.681-12.107 14.919-16.619 8.3-6.002 25.85-14.877 50.123-6.875 3.937,1.297 8.175-0.841 9.472-4.775s-0.841-8.174-4.774-9.471c-22.687-7.479-45.276-4.293-63.611,8.967-0.762,0.551-1.506,1.121-2.242,1.701 6.054-10.502 14.807-17.857 25.18-20.235 4.037-0.925 6.56-4.948 5.635-8.986s-4.942-6.559-8.986-5.635c-16.784,3.846-30.415,16.651-38.324,34.396-7.909-17.745-21.54-30.55-38.324-34.396-4.043-0.928-8.062,1.598-8.986,5.635s1.598,8.061 5.635,8.986c10.373,2.377 19.126,9.733 25.18,20.235-0.735-0.58-1.48-1.151-2.242-1.701-18.335-13.261-40.925-16.445-63.611-8.967-3.934,1.297-6.071,5.538-4.774,9.471 1.298,3.934 5.535,6.072 9.472,4.775 24.271-8.002 41.823,0.871 50.123,6.875 6.237,4.511 11.393,10.382 14.918,16.617-12.806-6.251-27.378-9.097-42.082-7.947-21.904,1.71-41.48,11.865-55.12,28.593-2.618,3.21-2.138,7.935 1.073,10.552 1.392,1.135 3.068,1.688 4.734,1.688 2.177,0 4.335-0.942 5.817-2.76 11.023-13.52 26.886-21.73 44.663-23.118 10.392-0.812 20.69,0.811 30.024,4.55v1.003c-25.659,6.489-39.669,24.65-39.999,52.737-0.049,4.142 3.269,7.539 7.411,7.588 0.029,0 0.06,0 0.09,0 4.101,0 7.449-3.3 7.497-7.412 0.094-8.028 0.347-29.17 25.001-37.319v5.23c0,10.336 6.71,19.128 16,22.266v118.295c-31.7-10.866-66.079-20.061-96.5-20.061s-64.8,9.195-96.5,20.061v-150.294c9.29-3.138 16-11.93 16-22.266v-5.449c12.534,4.178 24.725,14.078 25.001,37.537 0.048,4.112 3.396,7.412 7.497,7.412 0.03,0 0.061,0 0.09,0 4.143-0.049 7.46-3.446 7.411-7.588-0.33-28.087-14.34-46.247-39.999-52.737v-1.003c9.335-3.739 19.633-5.362 30.024-4.55 17.777,1.388 33.64,9.598 44.663,23.118 1.482,1.818 3.641,2.761 5.817,2.76 1.666,0 3.343-0.552 4.734-1.688 3.211-2.618 3.691-7.342 1.073-10.552-13.64-16.728-33.216-26.882-55.12-28.593-14.706-1.146-29.278,1.699-42.083,7.949 3.525-6.236 8.681-12.107 14.919-16.619 8.3-6.002 25.85-14.877 50.123-6.875 3.937,1.296 8.175-0.841 9.472-4.775 1.297-3.934-0.841-8.174-4.774-9.471-22.687-7.479-45.277-4.293-63.611,8.967-0.762,0.551-1.506,1.121-2.242,1.701 6.054-10.502 14.807-17.857 25.18-20.235 4.037-0.925 6.56-4.948 5.635-8.986s-4.942-6.558-8.986-5.635c-16.784,3.846-30.415,16.651-38.324,34.396-7.909-17.745-21.54-30.55-38.324-34.396-4.045-0.926-8.062,1.598-8.986,5.635-0.925,4.038 1.598,8.061 5.635,8.986 11.883,2.723 21.647,11.972 27.653,25.011-1.604-1.369-3.278-2.694-5.028-3.959-21.118-15.274-47.104-19.46-71.298-11.485-3.934,1.297-6.071,5.538-4.774,9.471 1.297,3.935 5.534,6.071 9.472,4.775 19.567-6.451 40.638-3.027 57.81,9.393 5.407,3.911 9.977,8.476 13.407,13.229-12.357-5.646-26.248-8.173-40.258-7.077-21.904,1.71-41.48,11.865-55.12,28.593-2.618,3.21-2.138,7.935 1.073,10.552 1.392,1.135 3.068,1.688 4.734,1.688 2.177,0 4.335-0.942 5.817-2.76 11.023-13.52 26.886-21.73 44.663-23.118 10.392-0.811 20.69,0.811 30.024,4.55v1.003c-25.659,6.489-39.669,24.65-39.999,52.737-0.049,4.142 3.269,7.539 7.411,7.588 0.029,0 0.06,0 0.09,0 4.101,0 7.449-3.3 7.497-7.412 0.094-8.028 0.347-29.17 25.001-37.319v5.23c0,10.336 6.71,19.128 16,22.266v155.611c-12.032,4.398-23.49,8.867-33.967,12.955-24.297,9.48-45.28,17.668-54.533,17.668h-24c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h448c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.499-7.5-7.499zm-128.5-184.65c2.653-0.229 5.482-0.35 8.5-0.35 2.154,0 5.108,0.001 8.5,0.243v8.257c0,4.687-3.813,8.5-8.5,8.5s-8.5-3.813-8.5-8.5v-8.15zm-208-32c2.653-0.229 5.482-0.35 8.5-0.35 2.154,0 5.108,0.001 8.5,0.243v8.257c0,4.687-3.813,8.5-8.5,8.5s-8.5-3.813-8.5-8.5v-8.15zm-37.004,216.65c3.059-1.186 6.216-2.417 9.489-3.694 40.349-15.744 95.609-37.306 140.015-37.306s99.666,21.562 140.015,37.306c3.273,1.277 6.43,2.508 9.489,3.694h-299.008z"
                  />
                  <path
                    d="m311.5,376.001h-144c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h144c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m135.5,376.001h-64c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h64c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m359.5,376.001h-16c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h16c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m295.5,408.001h-79.998c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h79.998c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                  <path
                    d="m183.501,408.001h-16.001c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5 7.5,7.5h16.001c4.143,0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z"
                  />
                </g>
              </svg>
              <p class="fs-6 fw-light mb-0 activeLink">
                <small>Jungle</small>
              </p>
            </button>
          </form>
          <!-- Mountain -->
          <form class="sortForm px-4" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="mountain" class="d-none" />
            <button
              style="color: gray"
              id="mountain"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 512.005 512.005"
                style="enable-background: new 0 0 512.005 512.005"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <g>
                      <path
                        d="M4.475,425.637c1.289,0.7,2.679,1.033,4.053,1.033c3.029,0,5.965-1.613,7.509-4.471l111.155-205.235
				c0.239-0.495,5.973-12.16,17.877-12.16c1.69,0,3.593,0.853,5.47,2.005L77.879,337.18c-2.295,4.122-0.811,9.318,3.302,11.614
				c1.314,0.725,2.739,1.075,4.147,1.075c2.995,0,5.897-1.579,7.467-4.378l71.552-128.401l26.803,20.139
				c3.396,2.56,8.149,2.21,11.153-0.794l45.167-45.167l28.1,28.1c3.337,3.337,8.73,3.337,12.066,0l25.6-25.6
				c3.337-3.337,3.337-8.73,0-12.066s-8.73-3.337-12.066,0l-19.567,19.567l-28.1-28.1c-3.337-3.337-8.73-3.337-12.066,0
				l-45.969,45.969l-28.058-21.043l-0.99-0.785c-4.489-3.584-12.006-9.574-21.35-9.574c-22.929,0-32.93,21.129-33.101,21.538
				L1.036,414.074C-1.217,418.213,0.328,423.392,4.475,425.637z"
                      />
                      <path
                        d="M110.937,443.736H8.537c-4.71,0-8.533,3.823-8.533,8.533s3.823,8.533,8.533,8.533h102.4c4.71,0,8.533-3.823,8.533-8.533
				S115.647,443.736,110.937,443.736z"
                      />
                      <path
                        d="M173.281,182.582c4.147,2.244,9.318,0.691,11.563-3.456l53.282-98.697c0.239-0.495,5.973-12.16,17.877-12.16
				s17.638,11.665,18.108,12.621L418.41,345.449c1.553,2.842,4.48,4.446,7.501,4.446c1.382,0,2.782-0.333,4.079-1.041
				c4.139-2.261,5.666-7.441,3.405-11.58l-38.955-71.407c2.099-0.87,4.318-1.331,6.63-1.331c11.904,0,17.638,11.665,18.057,12.518
				l76.8,145.075c1.536,2.893,4.489,4.54,7.552,4.54c1.348,0,2.714-0.316,3.985-0.99c4.164-2.21,5.751-7.373,3.55-11.537
				l-76.595-144.649c-0.418-0.896-10.419-22.025-33.348-22.025c-5.197,0-10.146,1.271-14.771,3.473L289.352,73.227
				c-0.418-0.896-10.419-22.025-33.348-22.025c-22.938,0-32.93,21.129-33.109,21.547l-53.069,98.27
				C167.59,175.158,169.134,180.337,173.281,182.582z"
                      />
                      <path
                        d="M452.27,443.736h-93.867v-17.067h17.067h0.171c4.71,0,8.533-3.823,8.533-8.533c0-1.647-0.469-3.183-1.271-4.48
				l-25.037-66.782c-1.254-3.328-4.437-5.538-7.996-5.538s-6.741,2.21-7.996,5.538l-25.6,68.267
				c-0.973,2.62-0.614,5.555,0.981,7.859c1.596,2.295,4.215,3.669,7.014,3.669h17.067v17.067h-34.133v-25.6
				c0-4.71-3.823-8.533-8.533-8.533h-13.286l13.431-35.823l1.86,4.779c1.715,4.395,6.656,6.562,11.042,4.864
				c4.395-1.707,6.571-6.656,4.864-11.042l-9.958-25.6c-1.28-3.285-4.437-5.444-7.953-5.444h-0.051
				c-3.541,0.017-6.699,2.227-7.945,5.538l-25.6,68.267c-0.973,2.62-0.614,5.555,0.981,7.859c1.596,2.295,4.215,3.669,7.014,3.669
				h17.067v17.067H153.603v-17.067h17.067h0.171c4.71,0,8.533-3.823,8.533-8.533c0-1.647-0.469-3.183-1.271-4.48l-25.037-66.782
				c-1.254-3.328-4.437-5.538-7.996-5.538c-3.558,0-6.741,2.21-7.996,5.538l-25.591,68.267c-0.981,2.62-0.623,5.555,0.973,7.859
				c1.596,2.295,4.215,3.669,7.014,3.669h17.067v25.6c0,4.71,3.823,8.533,8.533,8.533h307.2c4.71,0,8.533-3.823,8.533-8.533
				S456.981,443.736,452.27,443.736z M131.784,409.603l13.286-35.43l13.286,35.43H131.784z M336.584,409.603l13.286-35.43
				l13.286,35.43H336.584z"
                      />
                      <path
                        d="M503.47,443.736h-17.067c-4.71,0-8.533,3.823-8.533,8.533s3.823,8.533,8.533,8.533h17.067
				c4.71,0,8.533-3.823,8.533-8.533S508.181,443.736,503.47,443.736z"
                      />
                    </g>
                  </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
              <p class="fs-6 fw-light mb-0 activeLink">
                <small>Mountain</small>
              </p>
            </button>
          </form>
          <!-- Space -->
          <form class="sortForm px-4" action="/campgrounds" method="GET">
            <input type="text" name="sortby" value="space" class="d-none" />
            <button
              id="space"
              style="color: gray"
              type="submit"
              class="card border-0 d-flex flex-column justify-content-center align-items-center activeTagBtn"
            >
              <svg
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 512 512"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
              >
                <g>
                  <g>
                    <path
                      d="M384.032,342.047c-0.164-0.808-0.405-1.606-0.721-2.377c-0.316-0.76-0.708-1.492-1.163-2.175
			c-0.468-0.697-0.999-1.342-1.581-1.923c-2.934-2.934-7.297-4.287-11.406-3.465c-0.809,0.164-1.606,0.417-2.365,0.733
			c-0.771,0.316-1.505,0.709-2.188,1.163c-0.695,0.455-1.34,0.986-1.922,1.568c-0.582,0.582-1.113,1.227-1.568,1.923
			c-0.455,0.683-0.847,1.415-1.163,2.175c-0.316,0.77-0.569,1.568-0.721,2.377c-0.164,0.809-0.253,1.644-0.253,2.466
			c0,3.326,1.353,6.588,3.705,8.939c2.352,2.352,5.615,3.706,8.94,3.706s6.588-1.353,8.94-3.706
			c2.352-2.351,3.705-5.613,3.705-8.939C384.272,343.691,384.196,342.855,384.032,342.047z"
                    />
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M506.719,422.95c-7.662-27.68-23.955-61.331-47.212-97.619c7.436-21.763,11.477-45.087,11.477-69.336
			c0-118.538-96.438-214.976-214.976-214.976c-1.698,0-3.394,0.024-5.089,0.065c-0.731,0.016-1.459,0.048-2.189,0.072
			c-0.914,0.032-1.83,0.062-2.743,0.105c-0.988,0.046-1.973,0.104-2.957,0.162c-0.587,0.035-1.175,0.071-1.762,0.111
			c-1.216,0.082-2.43,0.176-3.642,0.279c-0.23,0.02-0.462,0.04-0.692,0.062c-17.429,1.54-34.271,5.157-50.266,10.621
			c-36.344-23.293-70.044-39.602-97.748-47.25C55.11-4.088,30.097-0.951,14.578,14.565C-9.127,38.272-3.844,84.446,29.855,148.1
			c6.626,12.517,14.21,25.419,22.643,38.583c-7.431,21.757-11.467,45.07-11.467,69.311c0,96.929,64.489,179.068,152.81,205.799
			c0.248,0.09,0.495,0.181,0.75,0.257c0.553,0.164,1.112,0.303,1.665,0.463c1.282,0.372,2.571,0.726,3.863,1.074
			c1.038,0.278,2.075,0.559,3.117,0.822c1.787,0.453,3.584,0.881,5.388,1.289c0.754,0.169,1.509,0.333,2.265,0.494
			c1.765,0.378,3.54,0.736,5.32,1.07c0.463,0.087,0.923,0.183,1.386,0.266c2.237,0.406,4.487,0.77,6.746,1.105
			c0.535,0.08,1.072,0.15,1.607,0.225c1.899,0.267,3.806,0.51,5.722,0.726c0.488,0.056,0.974,0.116,1.462,0.168
			c2.305,0.245,4.621,0.456,6.948,0.627c0.406,0.029,0.812,0.051,1.218,0.077c1.944,0.132,3.895,0.237,5.851,0.316
			c0.62,0.025,1.239,0.051,1.86,0.071c2.323,0.075,4.652,0.126,6.993,0.126c1.672,0,3.341-0.025,5.008-0.063
			c0.462-0.01,0.922-0.025,1.382-0.039c1.304-0.038,2.605-0.087,3.904-0.149c0.391-0.019,0.781-0.035,1.171-0.056
			c3.466-0.182,6.92-0.448,10.357-0.794c0.106-0.01,0.211-0.021,0.316-0.033c16.165-1.651,31.983-5.109,47.223-10.302
			c13.146,8.421,26.032,15.994,38.533,22.612c37.522,19.865,68.971,29.855,93.322,29.855c16.96-0.001,30.481-4.847,40.212-14.578
			C512.974,481.885,516.097,456.829,506.719,422.95z M166.725,88.678c1.225-0.656,2.457-1.302,3.698-1.932
			c1.487-0.751,2.981-1.49,4.487-2.2c0.444-0.211,0.889-0.417,1.335-0.625c20.932-9.692,43.574-15.555,66.758-17.156
			c0.12-0.008,0.239-0.015,0.359-0.023v89.719c-0.019,0.166-0.034,0.331-0.047,0.5c-0.336,4.604-4.212,8.211-8.825,8.211
			s-8.49-3.608-8.825-8.211c-0.013-0.167-0.028-0.333-0.047-0.498v-20.1c0-18.837-15.325-34.163-34.163-34.163
			s-34.163,15.325-34.163,34.163v43.036c0,4.891-3.98,8.872-8.872,8.872s-8.872-3.98-8.872-8.872v-73.022
			c8.069-6.295,16.657-11.954,25.691-16.897C165.731,89.209,166.228,88.944,166.725,88.678z M52.208,136.268
			C25.426,85.679,18.043,46.867,32.463,32.449c13.005-13.006,53.442-11.358,125.752,32.117
			c-13.971,7.128-27.197,15.796-39.387,25.91c-0.419,0.346-0.803,0.725-1.168,1.118c-21.811,18.384-39.937,41.01-53.069,66.606
			C60.147,150.77,56.01,143.449,52.208,136.268z M185.552,432.103c-69.806-28.028-119.229-96.401-119.229-176.109
			c0-14.407,1.622-28.441,4.68-41.938c28.591,40.264,64.255,82.142,104.527,122.413c3.33,3.33,6.672,6.62,10.022,9.885V432.103z
			 M294.563,441.734c-0.443,0.094-0.891,0.18-1.339,0.269c-2.021,0.403-4.054,0.769-6.098,1.108
			c-0.888,0.147-1.773,0.298-2.663,0.432c-0.955,0.144-1.915,0.273-2.874,0.403c-1.125,0.152-2.253,0.293-3.383,0.425
			c-0.792,0.092-1.582,0.19-2.376,0.272c-1.869,0.194-3.743,0.364-5.624,0.503c-0.548,0.041-1.099,0.068-1.648,0.105
			c-1.544,0.101-3.092,0.185-4.642,0.249c-0.598,0.025-1.196,0.049-1.797,0.068c-2.033,0.065-4.071,0.109-6.114,0.109
			c-1.787,0-3.571-0.03-5.353-0.08c-0.555-0.015-1.107-0.043-1.66-0.063c-1.234-0.046-2.467-0.096-3.699-0.166
			c-0.642-0.035-1.282-0.08-1.923-0.123c-1.152-0.077-2.304-0.161-3.455-0.258c-0.654-0.056-1.306-0.113-1.958-0.175
			c-1.157-0.109-2.312-0.233-3.466-0.364c-0.625-0.071-1.249-0.138-1.872-0.214c-1.267-0.157-2.53-0.331-3.792-0.513
			c-0.497-0.072-0.996-0.134-1.493-0.21c-1.673-0.254-3.342-0.532-5.008-0.831c-0.764-0.137-1.523-0.292-2.284-0.439
			c-0.91-0.176-1.821-0.349-2.729-0.537c-0.96-0.2-1.916-0.412-2.871-0.627c-0.665-0.148-1.33-0.298-1.993-0.455
			c-0.537-0.126-1.072-0.262-1.609-0.393v-69.994c29.08,26.571,58.496,50.45,87.101,70.76
			C296.818,441.251,295.693,441.5,294.563,441.734z M248.45,369.837c-12.567-10.869-25.136-22.292-37.607-34.212v-12.95
			c0.032-0.24,0.056-0.483,0.075-0.727c0.616-8.442,7.725-15.055,16.185-15.055c8.46,0,15.569,6.612,16.184,15.055
			c0.018,0.243,0.043,0.486,0.075,0.723v27.261C243.362,357.141,245.209,363.924,248.45,369.837z M271.724,389.326
			c4.147,1.392,8.578,2.157,13.186,2.157c22.911,0,41.55-18.638,41.55-41.548v-57.81c0-8.966,7.294-16.258,16.258-16.258
			s16.258,7.294,16.258,16.258v14.453c0,6.983,5.661,12.646,12.646,12.646s12.646-5.663,12.646-12.646v-14.453
			c0-22.91-18.64-41.55-41.55-41.55s-41.55,18.64-41.55,41.55v57.81c0,8.964-7.294,16.257-16.258,16.257
			s-16.258-7.294-16.258-16.257V321.03c0-0.976-0.113-1.927-0.326-2.84c-2.479-20.667-20.225-36.586-41.223-36.586
			c-18.912,0-35.18,12.912-40.039,30.576c-41.996-42.701-78.48-86.892-106.369-128.587c8.174-19.72,19.583-37.77,33.56-53.491
			v49.298c0,18.837,15.325,34.163,34.163,34.163s34.163-15.325,34.163-34.163v-43.036c0-4.891,3.98-8.872,8.872-8.872
			c4.893,0,8.872,3.98,8.872,8.872v21.518c0,0.917,0.099,1.811,0.287,2.672c2.117,16.908,16.669,29.909,33.878,29.909
			c17.194,0,31.735-12.982,33.871-29.869c0.191-0.874,0.291-1.782,0.291-2.714V66.742c98.718,6.53,177.039,88.91,177.039,189.252
			c0,22.464-3.935,44.023-11.136,64.037c-0.865,1.405-1.439,2.955-1.707,4.564c-10.621,27.285-27.383,51.523-48.579,71.013V382.45
			c0-6.983-5.661-12.646-12.646-12.646s-12.646,5.663-12.646,12.646v32.771c-9.626,6.246-19.851,11.642-30.568,16.084
			C309.892,418.919,290.88,404.835,271.724,389.326z M479.552,479.539c-14.417,14.419-53.227,7.036-103.818-19.745
			c-7.162-3.791-14.46-7.915-21.871-12.345c8.61-4.416,16.959-9.43,24.995-15.036c0.393-0.274,0.764-0.574,1.12-0.888
			c28.278-20.031,51.531-46.71,67.451-77.748C490.907,426.085,492.567,466.526,479.552,479.539z"
                    />
                  </g>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
              <p class="fs-6 fw-light mb-0 activeLink"><small>Space</small></p>
            </button>
          </form>
        </div>
      </div>
      <!-- Clear Option -->
      <div class="btnTagActive">
        <a href="/campgrounds" href class="dropdown-item btnTagActive">
          <p class="d-inline mx-1">Clear</p>
          <svg
            style="vertical-align: -0.125em"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x-lg"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>

<script>
  let url = window.location.href;
  let campgrounds = "http://localhost:3000/campgrounds";
  //add secondNav to all variation of index page only
  window.addEventListener("load", () => {
    if (
      url == campgrounds ||
      url.indexOf("?sortby") > -1 ||
      url.indexOf("?search") > -1
    ) {
      document.getElementById("secondNav").style.display = "inherit";
    } else {
      document.getElementById("secondNav").style.display = "none";
    }
  });

  // Add highlight to the current button
  let btns = document.querySelectorAll("#containerTagBtn .activeTagBtn");
  window.addEventListener("load", () => {
    btns.forEach((button) => {
      if (url.indexOf("?sortby=" + `${button.id}`) > -1) {
        button.style.color = "black";
      }
    });
  });
</script>
