<nav class="navbar sticky-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" style="color: yellow" href="/">
      <img
        src="https://res.cloudinary.com/dbkdxsoia/image/upload/v1662219472/YelpCamp/add-svgrepo-com_ifbpuk.svg"
        alt=""
        width="48"
        height="48"
      />
    </a>
    <!-- Hamburger for smaller screen sizes -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- View Campgrounds -->
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds">View campgrounds</a>
        </li>
        <!-- Add Campground Link-->
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">Add Campground</a>
        </li>
      </ul>
      </div>

      <ul class="navbar-nav ms-auto">
        <% if(!currentUser) { %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% }else { %>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
