:root {
  --btn-background-color-light: #00000008;
  --btn-background-color-dark: #dee2e6;
  --btn-border-color: #ced4da;
}
.square {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}
.landscape {
  aspect-ratio: 4 / 3;
  width: 100%;
  object-fit: cover;
}

.on-top {
  z-index: 2000;
}

.search-box {
  position: absolute;
  z-index: 3000;
  width: 200px;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid var(--btn-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.round-search-btn {
  width: 20px;
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: -19px;
  color: white;
  background-color: var(--btn-background-color-light);
  border-radius: 20px;
  border: 1px solid var(--btn-background-color-light);
  display: flex;
  align-items: center;
}

.search-large {
  display: none;
}

.round-search-btn:hover {
  background-color: var(--btn-background-color-dark);
  border: 1px solid var(--btn-border-color);
}

.search-input {
  height: 38px;
  background-color: white;
  border-radius: 20px;
  border: none;
  align-items: center;
}

.search-input[type="search"]:focus {
  background-color: none;
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.search-box > svg {
  margin-left: -5px;
  font-size: 20px;
  color: gray;
}

.btn-gray {
  background-color: var(--btn-background-color-light) !important;
  border: 1px solid var(--btn-border-color) !important;
}

.btn-gray:hover {
  background-color: var(--btn-background-color-dark) !important;
  border: 1px solid var(--btn-border-color) !important;
}

.main-card {
  border: none;
}

.main-crd-footer {
  background-color: white !important;
}

.btnTagActive:hover {
  font-weight: 700;
  border: none;
}

.dropdown-toggle::after {
  content: none;
}

#secondNav {
  display: none;
  border-top: none;
}

@media (min-width: 992px) {
  .register-btn {
    background-color: #ffc107;
    border: solid #ffc107 2px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
  }

  .register-btn:hover {
    background-color: #ffc107;
    color: white;
  }

  .new-campground-form {
    width: 32rem !important;
  }
  .search-box {
    position: absolute;
    z-index: 3000;
    width: 450px;
    left: 0;
    right: 0;
    margin: auto;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid var(--btn-border-color);
    padding: 20px;
  }

  .round-search-btn {
    width: 100px;
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -19px;
    background-color: var(--btn-background-color-light);
    border-radius: 20px;
    border: 1px solid var(--btn-background-color-light);
    display: flex;
    color: gray;
    align-items: center;
  }

  .search-small {
    display: none;
  }
  .search-large {
    display: inline;
  }
}
