<% layout("layouts/boilerplate")%>
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div>
      <div class="card shadow" style="width: 22rem">
        <img
          src="https://res.cloudinary.com/dbkdxsoia/image/upload/v1662219472/YelpCamp/add-svgrepo-com_ifbpuk.svg"
          alt=""
          width="84"
          height="84"
          class="card-img-top mt-5 mb-3"
        />
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
          <form
            action="/register"
            method="POST"
            class="validated-form"
            novalidate
          >
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                required
                autofocus
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="d-grid">
              <button
                class="btn btn-light btn-block mb-3 border border-light shadow-sm"
              >
                Create Account
              </button>
            </div>
            <div class="text-center text-black-50 mt-2">
              <p>
                <small
                  >Already have an account? Login
                  <a class="link-secondary" href="/login">here</a>!</small
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
